Repository Mecunic/PA-Algoritmo-Cuota-Ventas-Carga-Base-: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-database.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

azure-pipelines-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: SonarCloud
      organization: ensitechdevops
      scannerMode: MSBuild
      projectKey: ensitechdevops_Plantilla-NET
      projectName: Plantilla NET
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
  ...

azure-pipelines-database.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: VSBuild@1
    inputs:
      solution: $(solution)
      msbuildArgs: /t:"MVC_Project_Database"
      platform: $(buildPlatform)
      configuration: $(buildConfiguration)
  - task: CopyFiles@1
    inputs:
      SourceFolder: $(System.defaultworkingdirectory)
  ...

azure-pipelines-desktop.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: VSBuild@1
    displayName: Build solution **\*.sln
    inputs:
      solution: $(solution)
      msbuildArgs: /t:"MVC_Project_Desktop" /target:Publish
  ...

azure-pipelines-webbackend.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: SonarCloud
      organization: ensitechdevops
      scannerMode: MSBuild
  ...

Req12 | LOC: 5 | Ajuste del catalogo productos
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Views/Productos/Create.cshtml
Due: azure-pipelines-webbackend.yml

Agregar Solucion Libreria de Calculos
  MVC_Project.sln
Due: none

Cambio de Net Framework
  MVC_Project.MotorCalculos/MVC_Project.MotorCalculos.csproj
Due: none

Req12.2 Se realizan ajustes en vista de listado principal y de creación de listas predefinidas.
  MVC_Project.Data/Services/ListaPredefinidaService.cs
  MVC_Project.WebBackend/Controllers/PredefinedListController.cs
  MVC_Project.WebBackend/Models/PredefinedListVewModel.cs
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Create.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Index.js
  MVC_Project.WebBackend/Views/PredefinedList/Detail.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

Req12.1 Notificación de producto ya existente en lista
  MVC_Project.WebBackend/Scripts/views/InOut/Create.js
Due: azure-pipelines-webbackend.yml

Req12.1 Búsqueda en cascada de CEDIS - Rutas
  MVC_Project.WebBackend/App_Start/BundleConfig.cs
  MVC_Project.WebBackend/Controllers/CedisController.cs
  MVC_Project.WebBackend/Controllers/InOutController.cs
  MVC_Project.WebBackend/Controllers/RoutesController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/InOutViewModel.cs
  MVC_Project.WebBackend/Models/RouteViewModel.cs
  MVC_Project.WebBackend/Models/SelectViewModel.cs
  MVC_Project.WebBackend/Scripts/views/InOut/Create.js
  MVC_Project.WebBackend/Views/InOut/Create.cshtml
Due: azure-pipelines-webbackend.yml

Req12.1 Validación de fechas
  MVC_Project.WebBackend/Scripts/views/InOut/Create.js
  MVC_Project.WebBackend/Views/InOut/Create.cshtml
Due: azure-pipelines-webbackend.yml

Req11 Proceso de Adquisición de Datos para Algoritmo de Carga - Integracion de servicio Cedis y creación del proyecto de apis
  MVC_Project.MotorCalculos/CalculoCarga.cs
  MVC_Project.MotorCalculos/Modelos/Configuracion.cs
  MVC_Project.WebApis/MVC_Project.WebApis.csproj
  MVC_Project.WebApis/Modelos/CedisResp.cs
  MVC_Project.WebApis/Modelos/Constantes.cs
  MVC_Project.WebApis/Properties/AssemblyInfo.cs
  MVC_Project.WebApis/Readme.txt
  MVC_Project.WebApis/Servicios/BaseService.cs
  MVC_Project.WebApis/Servicios/IntermediaService.cs
  MVC_Project.WebApis/packages.config
  MVC_Project.sln
Due: none

Req11 Proceso de Adquisicion de Datos - Lectura de datos del Cedis y Transformacion de esos datos ejemplo de llamado de los datos del servicio
  MVC_Project.Jobs/MVC_Project.Jobs.csproj
  MVC_Project.Jobs/Web.config
  MVC_Project.WebApis/MVC_Project.WebApis.csproj
  MVC_Project.WebApis/Modelos/CedisResp.cs
  MVC_Project.WebApis/Servicios/BaseService.cs
  MVC_Project.WebApis/Servicios/IntermediaService.cs
  MVC_Project.WebApis/packages.config
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Web.Base.config
  MVC_Project.WebBackend/Web.config
Due: azure-pipelines-webbackend.yml

Ajustes para inicio de sesión utilizando api de Bepensa
  MVC_Project.Data/MVC_Project.Data.csproj
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/AuthService.cs
  MVC_Project.Domain/Entities/User.cs
  MVC_Project.Domain/Services/IAuthService.cs
  MVC_Project.WebApis/MVC_Project.WebApis.csproj
  MVC_Project.WebApis/Modelos/LoginReq.cs
  MVC_Project.WebApis/Modelos/LoginResp.cs
  MVC_Project.WebApis/Servicios/BaseService.cs
  MVC_Project.WebApis/Servicios/InventariosService.cs
  MVC_Project.WebBackend/AuthManagement/AuthorizeUsersAttribute.cs
  MVC_Project.WebBackend/AuthManagement/Models/AuthUser.cs
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/Controllers/RegisterController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/AuthViewModel.cs
  MVC_Project.WebBackend/Views/Auth/ChangePassword.cshtml
  MVC_Project.WebBackend/Views/Auth/Login.cshtml
  MVC_Project.WebBackend/Views/Auth/ResetPassword.cshtml
  MVC_Project.WebBackend/Views/Auth/_RequestPasswordModal.cshtml
  MVC_Project.WebBackend/Web.Base.config
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

Adecuaciones para el login, manteniendo la estructura actual
  MVC_Project.WebApis/Modelos/LoginResp.cs
  MVC_Project.WebApis/Servicios/BaseService.cs
  MVC_Project.WebApis/Servicios/InventariosService.cs
Due: none

SinReq Se suben las referencias de compiler
  MVC_Project.MotorCalculos/MVC_Project.MotorCalculos.csproj
Due: none

Req2 Usuarios - Integracion del servicio de usuarios
  MVC_Project.WebApis/Modelos/Constantes.cs
  MVC_Project.WebApis/Modelos/UsuariosReq.cs
  MVC_Project.WebApis/Servicios/BaseService.cs
  MVC_Project.WebApis/Servicios/InventariosService.cs
Due: none

Req2 Administracion de usuarios - remover campos
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Views/User/Index.cshtml
Due: azure-pipelines-webbackend.yml

Generacion de Token para los servicios de WBC
  MVC_Project.WebApis/MVC_Project.WebApis.csproj
  MVC_Project.WebApis/Modelos/TokenReq.cs
  MVC_Project.WebApis/Modelos/TokenResp.cs
  MVC_Project.WebApis/Servicios/BaseService.cs
  MVC_Project.WebApis/Servicios/InventariosService.cs
  MVC_Project.WebApis/Servicios/WBCService.cs
  MVC_Project.WebBackend/Web.Base.config
Due: azure-pipelines-webbackend.yml

Req11 Integracion de Catalogos - Obtener Productos por cedis
  MVC_Project.WebApis/MVC_Project.WebApis.csproj
  MVC_Project.WebApis/Modelos/ProductoResp.cs
  MVC_Project.WebApis/Servicios/IntermediaService.cs
  MVC_Project.WebApis/Servicios/InventariosService.cs
Due: none

Req2 - Usuarios - Quitar campos Innecesarios y adecuaciones para el login
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/AuthService.cs
  MVC_Project.Data/Services/UserService.cs
  MVC_Project.Domain/Entities/User.cs
  MVC_Project.Domain/Services/IUserService.cs
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/Controllers/CedisController.cs
  MVC_Project.WebBackend/Controllers/RegisterController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

Req1.1 Validación de credenciales de usuario en API de cliente
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/AuthService.cs
  MVC_Project.Resources/ViewLabels.Designer.cs
  MVC_Project.Resources/ViewLabels.es-MX.resx
  MVC_Project.Resources/ViewLabels.resx
  MVC_Project.WebApis/Servicios/InventariosService.cs
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/AuthViewModel.cs
  MVC_Project.WebBackend/Views/Auth/Login.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

Validación de No Conexión
  MVC_Project.Data/Services/AuthService.cs
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

SinReq Se suben ajustes para prueba de concepto de jobs
  MVC_Project.Jobs/App_Code/JobScheduler.cs
  MVC_Project.Jobs/Jobs/HPagosJob.cs
  MVC_Project.Jobs/MVC_Project.Jobs.csproj
  MVC_Project.Jobs/Startup.cs
  MVC_Project.Jobs/Web.Debug.config
  MVC_Project.Jobs/Web.config
  MVC_Project.Jobs/packages.config
  MVC_Project.MotorCalculos/CalculoCarga.cs
Due: none

Req1 Ajustes por pruebas de integración
  MVC_Project.Resources/ViewLabels.Designer.cs
  MVC_Project.Resources/ViewLabels.es-MX.resx
  MVC_Project.Resources/ViewLabels.resx
  MVC_Project.WebBackend/AuthManagement/Authenticator.cs
  MVC_Project.WebBackend/Views/Auth/Login.cshtml
  MVC_Project.WebBackend/Web.Base.config
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml, azure-pipelines-webbackend.yml

SinReq Se agrega la configuración de conexión local
  MVC_Project.Jobs/Jobs/HPagosJob.cs
  MVC_Project.WebBackend/Web.Debug.config
Due: azure-pipelines-webbackend.yml

Path conditions:
  azure-pipelines-api.yml: any of: MVC_Project.API, MVC_Project.API.Tests, MVC_Project.Utils, MVC_Project.Data, MVC_Project.Domain, MVC_Project.Integrations, MVC_Project.Resources
  azure-pipelines-database.yml: any of: MVC_Project.Database
  azure-pipelines-desktop.yml: any of: MVC_Project.Desktop, MVC_Project.Utils, MVC_Project.Data, MVC_Project.Domain, MVC_Project.Integrations, MVC_Project.Resources
  azure-pipelines-webbackend.yml: any of: MVC_Project.WebBackend, MVC_Project.Utils, MVC_Project.Data, MVC_Project.Domain, MVC_Project.Integrations, MVC_Project.Resources
