Repository Mecunic/PA-Algoritmo-Cuota-Ventas-Carga-Base-: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api.yml, azure-pipelines-database.yml, azure-pipelines-desktop.yml

Path conditions:
  azure-pipelines-api.yml: any of: MVC_Project.API, MVC_Project.API.Tests, MVC_Project.Utils, MVC_Project.Data, MVC_Project.Domain, MVC_Project.Integrations, MVC_Project.Resources
  azure-pipelines-database.yml: any of: MVC_Project.Database
  azure-pipelines-desktop.yml: any of: MVC_Project.Desktop, MVC_Project.Utils, MVC_Project.Data, MVC_Project.Domain, MVC_Project.Integrations, MVC_Project.Resources

Depuracion de plantilla para proyecto Cuotas Bepensa
  MVC_Project.API.Tests/MVC_Project.API.Tests.csproj
  MVC_Project.API/MVC_Project.API.csproj
  MVC_Project.WebBackend/Controllers/CalendarController.cs
  MVC_Project.WebBackend/Controllers/CheckoutController.cs
  MVC_Project.WebBackend/Controllers/DashboardsController.cs
  MVC_Project.WebBackend/Controllers/DocumentsController.cs
  MVC_Project.WebBackend/Controllers/FeesController.cs
  MVC_Project.WebBackend/Controllers/PaymentsController.cs
  MVC_Project.WebBackend/Controllers/StorageController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Views/Calendar/Index.cshtml
  MVC_Project.WebBackend/Views/Checkout/Index.cshtml
  MVC_Project.WebBackend/Views/Checkout/Test.cshtml
  MVC_Project.WebBackend/Views/Checkout/TestResult.cshtml
  MVC_Project.WebBackend/Views/Dashboards/Dashboard_1.cshtml
  MVC_Project.WebBackend/Views/Dashboards/Dashboard_2.cshtml
  MVC_Project.WebBackend/Views/Dashboards/Dashboard_3.cshtml
  MVC_Project.WebBackend/Views/Dashboards/Dashboard_4.cshtml
  MVC_Project.WebBackend/Views/Dashboards/Dashboard_4_1.cshtml
  MVC_Project.WebBackend/Views/Dashboards/Dashboard_5.cshtml
  MVC_Project.WebBackend/Views/Documents/Index.cshtml
  MVC_Project.WebBackend/Views/Fees/Calculate.cshtml
  MVC_Project.WebBackend/Views/Fees/Tracing.cshtml
  MVC_Project.WebBackend/Views/Payments/Checkout.cshtml
  MVC_Project.WebBackend/Views/Payments/CheckoutSuccess.cshtml
  MVC_Project.WebBackend/Views/Payments/CreateSPEI.cshtml
  MVC_Project.WebBackend/Views/Payments/CreateTDC.cshtml
  MVC_Project.WebBackend/Views/Payments/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
  MVC_Project.WebBackend/Views/Storage/Index.cshtml
  MVC_Project.WebBackend/Web.Base.config
  MVC_Project.WebBackend/Web.config
  MVC_Project.sln
Due: azure-pipelines-api.yml

Actualización de vista de seguimiento
  MVC_Project.WebBackend/Controllers/FeesController.cs
  MVC_Project.WebBackend/Views/Fees/Tracing.cshtml
  MVC_Project.WebBackend/Views/Fees/Tracking.cshtml
  MVC_Project.WebBackend/Views/Fees/Tweaking.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: none

Updated README.md
  README.md
Due: none

Req 2 Usuario - Dashboard de usuario, mostrar campo cedis, funcionalidad del boton eliminar, modelado de la base de datos.
  MVC_Project.Data/Helpers/UnitOfWork.cs
  MVC_Project.Data/MVC_Project.Data.csproj
  MVC_Project.Data/Mappings/CedisMap.cs
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/CedisService.cs
  MVC_Project.Data/Services/UserService.cs
  MVC_Project.Domain/Entities/Cedis.cs
  MVC_Project.Domain/Entities/User.cs
  MVC_Project.Domain/MVC_Project.Domain.csproj
  MVC_Project.Domain/Services/ICedisService.cs
  MVC_Project.WebBackend/App_Start/UnityConfig.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Scripts/views/user/Index.js
  MVC_Project.WebBackend/Views/User/DataTableUser.cshtml
  MVC_Project.WebBackend/Views/User/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req2 Usuario Creación de Usuarios, validaciones de datos
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/UserService.cs
  MVC_Project.Domain/Entities/User.cs
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/Controllers/RegisterController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Scripts/views/user/Index.js
  MVC_Project.WebBackend/Views/User/Create.cshtml
  MVC_Project.WebBackend/Views/User/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req2 Usuarios - Mapeo de campo apellido materno
  MVC_Project.Data/Mappings/UserMap.cs
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req2 Usuarios - Correcion
  MVC_Project.Data/Mappings/UserMap.cs
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req2 Usuarios - Editar usuarios, quitar permisos temporalmente, mostrar solo registros activos.
  MVC_Project.Data/Services/UserService.cs
  MVC_Project.Domain/Services/IUserService.cs
  MVC_Project.WebBackend/AuthManagement/AuthorizeUsersAttribute.cs
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/Controllers/HomeController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/Attributes/PasswordValid.cs
  MVC_Project.WebBackend/Models/AuthViewModel.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Scripts/views/user/Index.js
  MVC_Project.WebBackend/Utils/Validations.cs
  MVC_Project.WebBackend/Views/User/Create.cshtml
  MVC_Project.WebBackend/Views/User/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req2.1,Req2.2 Editar Usuario - Validar tipos de campos
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/ValidType.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/ValidTypeAttribute.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/Attributes/PasswordValid.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Utils/Validations.cs
Due: none

Req12.2 - Administracion de Productos, Vista de Productos y agregar opcion al menu.
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Scripts/views/productos/Index.js
  MVC_Project.WebBackend/Views/Productos/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: none

Req12.2 Administracion de Productos - Creacion de Modelos, Interfaces, servicios, Mapeos
  MVC_Project.Data/Helpers/UnitOfWork.cs
  MVC_Project.Data/MVC_Project.Data.csproj
  MVC_Project.Data/Mappings/CategoriaMap.cs
  MVC_Project.Data/Mappings/PermissionMap.cs
  MVC_Project.Data/Mappings/PresentacionMap.cs
  MVC_Project.Data/Mappings/ProductoMap.cs
  MVC_Project.Data/Mappings/ProductoProductionMap.cs
  MVC_Project.Data/Mappings/RoleMap.cs
  MVC_Project.Data/Mappings/RolePermissionMap.cs
  MVC_Project.Data/Mappings/TipoEmpaqueMap.cs
  MVC_Project.Data/Mappings/UnidadEmpaqueMap.cs
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/CategoriaService.cs
  MVC_Project.Data/Services/OrderService.cs
  MVC_Project.Data/Services/PresentacionService.cs
  MVC_Project.Data/Services/ProductoService.cs
  MVC_Project.Data/Services/TipoEmpaqueService.cs
  MVC_Project.Data/Services/UnidadEmpaqueService.cs
  MVC_Project.Domain/Entities/Categoria.cs
  MVC_Project.Domain/Entities/Presentacion.cs
  MVC_Project.Domain/Entities/Producto.cs
  MVC_Project.Domain/Entities/ProductoProduction.cs
  MVC_Project.Domain/Entities/TipoEmpaque.cs
  MVC_Project.Domain/Entities/UnidadEmpaque.cs
  MVC_Project.Domain/MVC_Project.Domain.csproj
  MVC_Project.Domain/Services/ICategoriaService.cs
  MVC_Project.Domain/Services/IPresentacionService.cs
  MVC_Project.Domain/Services/IProductoService.cs
  MVC_Project.Domain/Services/ITipoEmpaqueService.cs
  MVC_Project.Domain/Services/IUnidadEmpaqueService.cs
  MVC_Project.WebBackend/App_Start/UnityConfig.cs
  MVC_Project.WebBackend/Controllers/ProductosController.cs
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req12.2 Administracion de Productos - Catalogos de servicios faltantes
  MVC_Project.Data/MVC_Project.Data.csproj
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.Data/Services/CategoriaService.cs
  MVC_Project.Data/Services/CedisService.cs
  MVC_Project.Data/Services/PresentacionService.cs
  MVC_Project.Data/Services/ProductoService.cs
  MVC_Project.Data/Services/ServiceBase.cs
  MVC_Project.Data/Services/TipoEmpaqueService.cs
  MVC_Project.Data/Services/UnidadEmpaqueService.cs
  MVC_Project.Data/Services/UserService.cs
  MVC_Project.Domain/MVC_Project.Domain.csproj
  MVC_Project.Domain/Services/ICategoriaService.cs
  MVC_Project.Domain/Services/ICedisService.cs
  MVC_Project.Domain/Services/IFilter.cs
  MVC_Project.Domain/Services/IProductoService.cs
  MVC_Project.Domain/Services/IService.cs
  MVC_Project.Domain/Services/ITipoEmpaqueService.cs
  MVC_Project.Domain/Services/IUnidadEmpaqueService.cs
  MVC_Project.Domain/Services/IUserService.cs
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req1 Logo del cliente
  MVC_Project.WebBackend/Images/logos/logo_altek.png
  MVC_Project.WebBackend/Images/logos/logo_default.png
  MVC_Project.WebBackend/Images/logos/logo_default2.png
  MVC_Project.WebBackend/Images/logos/logo_icon.png
Due: none

Req1 Ajustes de modelos para inicio de sesión
  MVC_Project.Data/Mappings/PermissionMap.cs
  MVC_Project.Data/Mappings/RoleMap.cs
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.WebBackend/Images/logos/logo_icon.png
  MVC_Project.WebBackend/Views/Home/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req1 Ajustes de modelos para inicio de sesión
  MVC_Project.Data/Mappings/PermissionMap.cs
  MVC_Project.Data/Mappings/RoleMap.cs
  MVC_Project.Data/Mappings/UserMap.cs
  MVC_Project.WebBackend/Controllers/AuthController.cs
  MVC_Project.WebBackend/Images/logos/logo_icon.png
  MVC_Project.WebBackend/Views/Home/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req12.3 Administracion de Producto - Creacion del producto, Formulario realizado, modificacion de los permisos.
  MVC_Project.Data/Mappings/PermissionMap.cs
  MVC_Project.Data/Mappings/RoleMap.cs
  MVC_Project.WebBackend/AuthManagement/AuthorizeUsersAttribute.cs
  MVC_Project.WebBackend/Controllers/HomeController.cs
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Views/Productos/Create.cshtml
  MVC_Project.WebBackend/Views/Productos/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req 12.3 - Administracion de Productos - Creacion de Producto, correcciones de validacion.
  MVC_Project.Data/Mappings/ProductoMap.cs
  MVC_Project.WebBackend/App_Start/BundleConfig.cs
  MVC_Project.WebBackend/Content/layout.css
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/ValidType.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/ValidTypeAttribute.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Models/UserViewModel.cs
  MVC_Project.WebBackend/Utils/Validations.cs
  MVC_Project.WebBackend/Views/Productos/Create.cshtml
  MVC_Project.WebBackend/Views/Shared/_Layout.cshtml
  MVC_Project.WebBackend/Views/User/Index.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req12.3 Administracion de productos, edicion y creacion.
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Scripts/views/productos/Index.js
  MVC_Project.WebBackend/Views/Productos/Create.cshtml
Due: none

Req12.3 - Administracion de Productos - correccion de la logica
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
Due: none

Req12.1 Administración de CEDIS | Pantalla principal
  MVC_Project.Data/Mappings/CedisMap.cs
  MVC_Project.Data/Services/CedisService.cs
  MVC_Project.Domain/Entities/Cedis.cs
  MVC_Project.WebBackend/AuthManagement/AuthorizeUsersAttribute.cs
  MVC_Project.WebBackend/Controllers/CedisController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/CedisViewModel.cs
  MVC_Project.WebBackend/Scripts/views/Cedis/Index.js
  MVC_Project.WebBackend/Views/Cedis/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req11 - Algoritmo de Carga - Estructura de clases
  MVC_Project.MotorCalculos/CalculoCarga.cs
  MVC_Project.MotorCalculos/MVC_Project.MotorCalculos.csproj
  MVC_Project.MotorCalculos/Modelos/Configuracion.cs
  MVC_Project.MotorCalculos/Modelos/Inventario.cs
  MVC_Project.MotorCalculos/Modelos/PortafolioPredefinido.cs
  MVC_Project.MotorCalculos/Modelos/Respuesta.cs
  MVC_Project.MotorCalculos/Properties/AssemblyInfo.cs
  MVC_Project.sln
Due: none

Req11 - Metodos para el calculo, parte de la logica, calculo de fechas.
  MVC_Project.MotorCalculos/CalculoCarga.cs
  MVC_Project.MotorCalculos/MVC_Project.MotorCalculos.csproj
  MVC_Project.MotorCalculos/Modelos/Configuracion.cs
  MVC_Project.MotorCalculos/Modelos/Excepciones.cs
  MVC_Project.MotorCalculos/Modelos/Producto.cs
  MVC_Project.MotorCalculos/Modelos/Venta.cs
  MVC_Project.MotorCalculos/Utils.cs
Due: none

Req12.1 Vista Listas In & Out
  MVC_Project.WebBackend/App_Start/BundleConfig.cs
  MVC_Project.WebBackend/Content/template/plugins/datepicker/datepicker3.css
  MVC_Project.WebBackend/Controllers/InOutController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/InOutViewModel.cs
  MVC_Project.WebBackend/Scripts/plugins/datepicker/bootstrap-datepicker.js
  MVC_Project.WebBackend/Scripts/views/InOut/Index.js
  MVC_Project.WebBackend/Views/InOut/Index.cshtml
  MVC_Project.WebBackend/Views/InOut/_ImportModal.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: none

Req12.1 Vista de importación desde excel
  MVC_Project.WebBackend/Controllers/InOutController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/InOutViewModel.cs
  MVC_Project.WebBackend/Views/InOut/Import.cshtml
  MVC_Project.WebBackend/Views/InOut/Index.cshtml
  MVC_Project.WebBackend/Views/InOut/_ImportModal.cshtml
  MVC_Project.WebBackend/Views/InOut/_ImportResult.cshtml
Due: none

Req12.2 Vista de listado general de listas predefinidas, Vista y adelanto de lógica de importación de lista predefinida.
  MVC_Project.WebBackend/App_Start/BundleConfig.cs
  MVC_Project.WebBackend/Controllers/PredefinedListController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/PredefinedListVewModel.cs
  MVC_Project.WebBackend/Scripts/custom/Utils.js
  MVC_Project.WebBackend/Scripts/plugins/datepicker/bootstrap-datepicker.es.min.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Import.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Index.js
  MVC_Project.WebBackend/Views/PredefinedList/Import.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/Index.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/_ImportResult.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
  MVC_Project.WebBackend/packages.config
Due: none

Req12.1 Maquetado detalle de lista
  MVC_Project.WebBackend/Controllers/InOutController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/InOutViewModel.cs
  MVC_Project.WebBackend/Scripts/views/InOut/Detail.js
  MVC_Project.WebBackend/Views/InOut/Detail.cshtml
  MVC_Project.WebBackend/Views/InOut/Index.cshtml
Due: none

Req12.2 Maquetado de vista de detalles de lista predefinida. Avances en maquetado de creación de lista manual.
  MVC_Project.WebBackend/Controllers/PredefinedListController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/PredefinedListVewModel.cs
  MVC_Project.WebBackend/Scripts/custom/Utils.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Create.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Detail.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Import.js
  MVC_Project.WebBackend/Views/PredefinedList/Create.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/Detail.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/Import.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/Index.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/_ImportResult.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/_ItemForm.cshtml
  MVC_Project.WebBackend/Web.Base.config
  MVC_Project.WebBackend/Web.Debug.config
  MVC_Project.WebBackend/Web.config
  MVC_Project.sln
Due: none

Req12.1 Ajuste de encabezados en vistas: principal, importar y detalle
  MVC_Project.WebBackend/Controllers/InOutController.cs
  MVC_Project.WebBackend/Models/InOutViewModel.cs
  MVC_Project.WebBackend/Scripts/views/InOut/Detail.js
  MVC_Project.WebBackend/Scripts/views/InOut/Index.js
  MVC_Project.WebBackend/Views/InOut/Detail.cshtml
  MVC_Project.WebBackend/Views/InOut/_ImportResult.cshtml
Due: none

Req12.2 Se completa maquetado de creación manual de lista predefinida.
  MVC_Project.FlashMessages/Configuracion.cs
  MVC_Project.FlashMessages/HtmlHelperExtension.cs
  MVC_Project.FlashMessages/MensajeFlash.cs
  MVC_Project.FlashMessages/MensajeFlashHandler.cs
  MVC_Project.WebBackend/App_Start/BundleConfig.cs
  MVC_Project.WebBackend/Controllers/PredefinedListController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/PredefinedListVewModel.cs
  MVC_Project.WebBackend/Scripts/custom/custom-date-validation.js
  MVC_Project.WebBackend/Scripts/plugins/moment/moment.js
  MVC_Project.WebBackend/Scripts/plugins/moment/moment.min.js
  MVC_Project.WebBackend/Scripts/plugins/validate/messages_es.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Create.js
  MVC_Project.WebBackend/Views/PredefinedList/Create.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/_ItemForm.cshtml
  MVC_Project.WebBackend/Views/Shared/_Layout.cshtml
  MVC_Project.WebBackend/Web.Base.config
  MVC_Project.WebBackend/Web.Debug.config
  MVC_Project.WebBackend/Web.config
Due: none

SinReq Ajuste del Mapeo de las entidades
  MVC_Project.Data/Mappings/PermissionMap.cs
  MVC_Project.Data/Mappings/RoleMap.cs
  MVC_Project.Data/Mappings/RolePermissionMap.cs
  MVC_Project.Data/Mappings/UserMap.cs
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Update azure-pipelines-webbackend.yml for Azure Pipelines
  azure-pipelines-webbackend.yml
Due: none

SinReq Se incluye el proyecto de FlashMessages a la solución
  MVC_Project.sln
Due: none

Req12.1 Vista de creación manual de Listas In&Out
  MVC_Project.WebBackend/Controllers/InOutController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/InOutViewModel.cs
  MVC_Project.WebBackend/Scripts/views/InOut/Create.js
  MVC_Project.WebBackend/Views/InOut/Create.cshtml
  MVC_Project.WebBackend/Views/InOut/Import.cshtml
  MVC_Project.WebBackend/Views/InOut/Index.cshtml
  MVC_Project.WebBackend/Views/InOut/_ProductForm.cshtml
  MVC_Project.WebBackend/Views/InOut/_ProductsTable.cshtml
Due: none

Req12.2 Avances en lógica de guardado de lista predefinida.
  MVC_Project.Data/MVC_Project.Data.csproj
  MVC_Project.Data/Mappings/CedisMap.cs
  MVC_Project.Data/Mappings/DetallePredefinidaMap.cs
  MVC_Project.Data/Mappings/ListaPredefinidaMap.cs
  MVC_Project.Data/Mappings/ProductoMap.cs
  MVC_Project.Data/Services/CedisService.cs
  MVC_Project.Data/Services/DetallePredefinidaService.cs
  MVC_Project.Data/Services/ListaPredefinidaService.cs
  MVC_Project.Data/Services/ProductoService.cs
  MVC_Project.Domain/Entities/Cedis.cs
  MVC_Project.Domain/Entities/DetallePredefinida.cs
  MVC_Project.Domain/Entities/ListaPredefinida.cs
  MVC_Project.Domain/Entities/Producto.cs
  MVC_Project.Domain/MVC_Project.Domain.csproj
  MVC_Project.Domain/Services/IDetallePredefinidaService.cs
  MVC_Project.Domain/Services/IListaPredefinidaService.cs
  MVC_Project.WebBackend/App_Start/UnityConfig.cs
  MVC_Project.WebBackend/Controllers/CedisController.cs
  MVC_Project.WebBackend/Controllers/PredefinedListController.cs
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/Controllers/UserController.cs
  MVC_Project.WebBackend/Models/PredefinedListVewModel.cs
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Import.js
  MVC_Project.WebBackend/Views/PredefinedList/Import.cshtml
  MVC_Project.WebBackend/Web.Debug.config
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml

Req12.2 Se completa lógica de guardado de listas predefinidas.
  MVC_Project.WebBackend/Controllers/PredefinedListController.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/MinValueAttribute.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/PredefinedListVewModel.cs
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Create.js
  MVC_Project.WebBackend/Scripts/views/PredefinedList/Import.js
  MVC_Project.WebBackend/Views/PredefinedList/Create.cshtml
  MVC_Project.WebBackend/Views/PredefinedList/Import.cshtml
  MVC_Project.WebBackend/Views/Shared/_Messages.cshtml
Due: none

Req14 Parametros | LOC: 109| Pantalla dashboard de parametros , vista en el menu
  MVC_Project.WebBackend/Controllers/ParametrosController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/ParametrosViewModel.cs
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: none

Se elimina proyectos que no se estaran utilizando para el proyecto
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.sln
Due: none

Se eliminan clases relacionados a la generación de pagos ya que no se utilizaran
  MVC_Project.WebBackend/Controllers/CheckoutController.cs
  MVC_Project.WebBackend/Controllers/DocumentsController.cs
  MVC_Project.WebBackend/Controllers/PaymentsController.cs
  MVC_Project.WebBackend/Controllers/StorageController.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/packages.config
Due: none

Req14 Parámetros - CRUD Completo, Validaciones de Clave.
  MVC_Project.Data/MVC_Project.Data.csproj
  MVC_Project.Data/Mappings/ParametroMap.cs
  MVC_Project.Data/Services/ParametroService.cs
  MVC_Project.Domain/Entities/IAudit.cs
  MVC_Project.Domain/Entities/Parametro.cs
  MVC_Project.Domain/Entities/Producto.cs
  MVC_Project.Domain/MVC_Project.Domain.csproj
  MVC_Project.Domain/Services/IParametroService.cs
  MVC_Project.WebBackend/App_Start/UnityConfig.cs
  MVC_Project.WebBackend/Controllers/ParametrosController.cs
  MVC_Project.WebBackend/Controllers/ProductosController.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/ValidType.cs
  MVC_Project.WebBackend/CustomAttributes/Validations/ValidTypeAttribute.cs
  MVC_Project.WebBackend/MVC_Project.WebBackend.csproj
  MVC_Project.WebBackend/Models/ParametrosViewModel.cs
  MVC_Project.WebBackend/Models/ProductoViewModel.cs
  MVC_Project.WebBackend/Scripts/views/Parametros/Index.js
  MVC_Project.WebBackend/Views/Parametros/Create.cshtml
  MVC_Project.WebBackend/Views/Parametros/Index.cshtml
  MVC_Project.WebBackend/Views/Shared/_Navigation.cshtml
Due: azure-pipelines-api.yml, azure-pipelines-desktop.yml
